In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

### Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [2]:
def select_facilities_with_revenue_less_than_1000(conn):
    """ Query facilities with a total revenue less than 1000
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query = """
    SELECT 
        Facilities.name AS facility_name,
        SUM(
            CASE 
                WHEN Bookings.memid = 0 THEN Facilities.guestcost * Bookings.slots
                ELSE Facilities.membercost * Bookings.slots
            END
        ) AS total_revenue
    FROM 
        Facilities
    JOIN Bookings ON Facilities.facid = Bookings.facid 
    GROUP BY Facilities.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue;
    """
    
    cur.execute(query)
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [4]:
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)
with conn: 
    print("Facilities with a total revenue less than 1000:")
    select_facilities_with_revenue_less_than_1000(conn)

2.6.0
Facilities with a total revenue less than 1000:
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [6]:
def report_of_members_and_recommenders(conn):
    cur = conn.cursor()
    query = """
    SELECT 
        m1.surname || ', ' || m1.firstname AS member_name, 
        m2.surname || ', ' || m2.firstname AS recommended_by
    FROM 
        Members AS m1
    JOIN 
        Members AS m2 ON m1.recommendedby = m2.memid
    ORDER BY 
        m1.surname, m1.firstname;
    """
    cur.execute(query)
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [7]:
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)
with conn: 
    print("Report of members and who recommended them:")
    report_of_members_and_recommenders(conn)

2.6.0
Report of members and who recommended them:
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

### Q12: Find the facilities with their usage by member, but not guests

In [8]:
def facilities_usage_by_members(conn):
    cur = conn.cursor()
    query = """
    SELECT 
        Facilities.name AS facility_name, 
        COUNT(Bookings.bookid) AS usage_count_by_members
    FROM 
        Bookings
    JOIN 
        Facilities ON Bookings.facid = Facilities.facid 
    WHERE 
        Bookings.memid != 0
    GROUP BY 
        Facilities.name
    ORDER BY 
        usage_count_by_members DESC;
    """
    cur.execute(query)
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [9]:
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)
with conn: 
    print("Facilities usage by members:")
    facilities_usage_by_members(conn)

2.6.0
Facilities usage by members:
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

### Q13: Find the facilities usage by month, but not guests

In [11]:
def facilities_usage_by_month(conn):
    cur = conn.cursor()
    query = """
    SELECT 
        Facilities.name AS facility_name,
        strftime('%Y-%m', Bookings.starttime) AS month, 
        COUNT(Bookings.bookid) AS usage_count_by_members
    FROM 
        Bookings
    JOIN 
        Facilities ON Bookings.facid = Facilities.facid 
    WHERE 
        Bookings.memid != 0
    GROUP BY 
        Facilities.name, strftime('%Y-%m', Bookings.starttime)
    ORDER BY 
        month, usage_count_by_members DESC;
    """
    cur.execute(query)
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [12]:
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)
with conn: 
    print("Facilities usage by month (excluding guests):")
    facilities_usage_by_month(conn)

2.6.0
Facilities usage by month (excluding guests):
('Pool Table', '2012-07', 103)
('Massage Room 1', '2012-07', 77)
('Snooker Table', '2012-07', 68)
('Tennis Court 1', '2012-07', 65)
('Badminton Court', '2012-07', 51)
('Table Tennis', '2012-07', 48)
('Tennis Court 2', '2012-07', 41)
('Squash Court', '2012-07', 23)
('Massage Room 2', '2012-07', 4)
('Pool Table', '2012-08', 272)
('Snooker Table', '2012-08', 154)
('Massage Room 1', '2012-08', 153)
('Table Tennis', '2012-08', 143)
('Badminton Court', '2012-08', 132)
('Tennis Court 1', '2012-08', 111)
('Tennis Court 2', '2012-08', 109)
('Squash Court', '2012-08', 85)
('Massage Room 2', '2012-08', 9)
('Pool Table', '2012-09', 408)
('Snooker Table', '2012-09', 199)
('Table Tennis', '2012-09', 194)
('Massage Room 1', '2012-09', 191)
('Badminton Court', '2012-09', 161)
('Tennis Court 1', '2012-09', 132)
('Tennis Court 2', '2012-09', 126)
('Squash Court', '2012-09', 87)
('Massage Room 2', '2012-09', 14)